@using BlogDeInvestigacion.Models
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section scripts {

    <script src="@Url.Content("/Scripts/App/Sidebar.js")"></script>
    @RenderSection("scripts", required: false)

}

<link href="@Url.Content("/Content/font-awesome.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/App/Sidebar.css")" rel="stylesheet" type="text/css" />



<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">

            @RenderSection("menus", required: false)

            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>OPTIONS</small>
            </li>
            <!-- /END Separator -->
            <li>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-calendar fa-fw mr-3"></span>
                        <span class="menu-collapsed">Calendar</span>
                    </div>
                </a>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-envelope-o fa-fw mr-3"></span>
                        <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                    </div>
                </a>
            </li>
            <!-- Separator without title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small></small>
            </li>
            <!-- /END Separator -->
            <li>
                <a href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                    </div>
                </a>
            </li>
            <!-- Logo -->
            <li class="list-group-item logo-separator d-flex justify-content-center">
                <img src='https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg' width="30" height="30" />
            </li>
        </ul><!-- List Group END-->
    </div><!-- sidebar-container END -->
    <!-- MAIN BODY -->
    <div class="col">


        @RenderBody()


    </div><!-- Main Col END -->

</div><!-- body-row END -->