@using BlogDeInvestigacion.Models
@model IList<Conversacion>

<div class="container">

    @foreach (var conversacion in Model)
    {
        <div class="row">

            @if (conversacion.Comentarios.Any())
            {
                <!-- FIRST ACTION -->
                <div class="media comment-box m-2">
                    <div class="media-left">
                        <a href="#">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-center media-heading">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <h4 class="">@conversacion.Comentarios.First().NombreDeUsuario</h4>
                                </div>
                            </div>
                            <div>
                                <div class="right-corner">
                                    @conversacion.Comentarios.First().GetFechaDePublicacion().ToString("MM/dd/yyyy HH:mm")
                                </div>
                            </div>
                        </div>
                        <p>@conversacion.Comentarios.First().Texto</p>
                        <!-- FIRST ACTION -->

                        @foreach (var comentario in conversacion.Comentarios.Skip(1))
                        {
                            <!-- FOR EACH-1 -->
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between align-items-center media-heading">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-2">
                                                <h4 class="">@comentario.NombreDeUsuario</h4>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="right-corner">
                                                @comentario.GetFechaDePublicacion().ToString("MM/dd/yyyy HH:mm")
                                            </div>
                                        </div>
                                    </div>
                                    <p>@comentario.Texto</p>
                                </div>
                            </div>
                            <!-- FOR EACH-1 -->
                        }

                        @*INICIO POST COMENTARIO*@

                        @using (Html.BeginForm("GuardarComentario", "Conversacion", FormMethod.Post))
                        {

                            @Html.Hidden("IdConversacion", conversacion.IdConversacion);
                            @Html.Hidden("IdLaboratorio", conversacion.IdLaboratorio);
                            @Html.TextArea("Texto", null, new { @class = "form-control CajaDeComentarios mt-3" });

                            <input type="submit" class="btn btn-info mt-2" value="POSTEAR COMENTARIO" />
                        }


                        @*FIN POST COMENTARIO*@

                    </div>
                </div>

            }
        </div>
    }

</div>