@model BlogDeInvestigacion.Models.SeccionMenu

<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>@Model.Titulo</small>
</li>
<li>
    @foreach ( BlogDeInvestigacion.Models.OpcionMenu opcion in @Model.Opciones)
    {
        <a data-toggle="@opcion.Tipo" href="@opcion.Link" class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-tasks fa-fw mr-3"></span>
                <span class="menu-collapsed">@opcion.Nombre</span>
            </div>
        </a>
    }
</li>
