@model BlogDeInvestigacion.Models.Evento

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>¿Está seguro de que desea borrar este evento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dd>
            @Html.LabelFor(model => model.Inicio)
            <br />
            @Html.DisplayFor(model => model.Inicio)
        </dd>

        <dd>
            @Html.LabelFor(model => model.Fin)
            <br />
            @Html.DisplayFor(model => model.Fin)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
