@model IEnumerable<BlogDeInvestigacion.Models.Evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EVENTOS</h2>

<p>
    @Html.ActionLink("Crear Evento", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Nombre)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Descripcion)</th>
            @if (User.IsInRole("Administrador"))
            {
                <th scope="col"> ADMINISTRAR </th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nombre, "Details", new { id = item.IdEvento })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @if (User.IsInRole("Administrador"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdEvento })
                        @Html.Raw("|");
                        @Html.ActionLink("Details", "Details", new { id = item.IdEvento })
                        @Html.Raw("|");
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdEvento })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>