@using BlogDeInvestigacion.ViewModels
@model List<ResultadosEncuestaViewModel>
@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        @*COLUMNA BODY*@
        <div class="col-9">
            <div class="jumbotron">
                <div>
                    <h1> @ViewBag.Titulo </h1>
                </div>
                <div>
                    <h3> Muestras: @ViewBag.Muestras </h3>
                </div>

                <hr class="my-4">


                <div>
                    @foreach (var resultado in Model)
                    {
                        <div class="d-flex justify-content-center text-primary">
                            <label class="">@resultado.Pregunta</label>
                        </div>
                        <div class="d-flex justify-content-center mt-1 mb-2">
                            <span class="font-weight-bold text-warning mr-2 mt-1">1</span>
                            <input type="range" class="custom-range border-0 mt-1" min="1" max="5" value="@resultado.Promedio" disabled />
                            <span class="font-weight-bold text-success ml-2 mt-1">5</span>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-lg-start mt-4">
                    @Html.ActionLink("SALIR", "Index", null, new { @class = "btn btn-danger" })
                </div>

            </div>
        </div>

        @*COLUMNA SIDEBAR*@

        <div class="col-3">

        </div>
    </div>
</div>



