@using BlogDeInvestigacion.ViewModels
@using BlogDeInvestigacion.Models
@model LaboratorioViewModel
@{
    ViewBag.Title = "Laboratorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="@Url.Content("/Scripts/App/Laboratorio/Laboratorio.js")"></script>

}

@section menus {

    @{
        Html.RenderPartial("_SideBarSection", new SeccionMenu
        {
            Titulo = "ADMINISTRAR LABORATORIO",
            Opciones = new List<OpcionMenu>
{
                        new OpcionMenu { Nombre = "Crear Evento", Link = "#mdlCrearEvento", ClaseIcono = "fa fa-tasks fa-fw mr-3" },
                        new OpcionMenu { Nombre = "Crear Noticia", Link = "#mdlCrearNoticia", ClaseIcono = "fa fa-tasks fa-fw mr-3" },
                        new OpcionMenu { Nombre = "Crear Encuesta", Link = "#", ClaseIcono = "fa fa-tasks fa-fw mr-3" },
                    }
        });
    }

}

<!-- include css and js -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<link href="@Url.Content("/Content/App/Laboratorio/Laboratorio.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/App/Laboratorio/Comentarios.css")" rel="stylesheet" type="text/css" />


<div class="container">
    <div class="row">

        @*COLUMNA BODY*@
        <div class="col-9">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1> @Model.Laboratorio.Nombre </h1>
                    <p class="lead"> @Model.Laboratorio.Descripcion </p>
                </div>
            </div>


            @*SECCION COMENTARIOS*@

        <div class="containerComentarios">

            @*CREAR CONVERSACION*@

            @using (Html.BeginForm("GuardarComentario", "Conversacion", FormMethod.Post))
            {

                @Html.Hidden("IdConversacion", 0);
                @Html.Hidden("IdLaboratorio", Model.Laboratorio.IdLaboratorio);
                @Html.TextArea("Texto", null, new { @class = "form-control" });

                <input type="submit" class="btn btn-info" value="POSTEAR COMENTARIO" />
            }

            @*SECCION CONVERSACIONES*@

            @{
                Html.RenderPartial("~/Views/Shared/_SeccionComentarios.cshtml", Model.Conversaciones);
            }
        </div>

        </div>

        @*COLUMNA SIDEBAR*@

        <div class="col-3">
            <div class="right-sidebar">

                <div class="container">
                    <div class="row">
                        <div class="col text-center">

                            @if (!Model.IsSubscripted)
                            {
                                if (User.Identity.IsAuthenticated)
                                {
                                    @Html.ActionLink("Subscribirse", "Subscribirse", new { idLaboratorio = Model.Laboratorio.IdLaboratorio }, new { @class = "btn btn-outline-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Login to Subscribe", "Login", "Account", null, new { @class = "btn btn-outline-success" })
                                }
                            }
                            else
                            {
                                @Html.ActionLink("Cancelar Subscripcion", "CancelarSubscripcion", new { idLaboratorio = Model.Laboratorio.IdLaboratorio }, new { @class = "btn btn-success" })
                            }

                        </div>
                    </div>
                </div>

                @foreach (Noticia noticia in Model.Noticias)
                {
                    <div class="jumbotron">
                        @Html.ActionLink(noticia.Titulo, "Details", "Noticia", new { id = noticia.IdNoticia }, null)
                        <p>@noticia.Descripcion</p>
                    </div>
                }

                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Noticia Sample 1</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Noticia Sample 2</div>
                    <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Noticia Sample 3</div>
                    <div class="card-body">
                        <h4 class="card-title">Light card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@*MODALS SECTION*@

<div class="modal fade" id="mdlCrearNoticia" tabindex="-1" role="dialog" aria-labelledby="Crear Noticia" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
                <br />
                <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required autofocus>
                <br />
                <br />
                <input type="text" class="form-control" name="Descripcion" placeholder="Descripcion" required autofocus>
                <br />
                <br />
                <input type="text" class="form-control" name="Inicio" placeholder="Inicio" required autofocus>
                <br />
                <br />
                <input type="text" class="form-control" name="Fin" placeholder="Fin" required autofocus>
                <br />


                Action("LaboratorioController/CrearEvento/")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlCrearEvento" tabindex="-1" role="dialog" aria-labelledby="Crear Evento" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Laboratorio/CrearEvento" method="post">
                <div class="modal-body">
                    <div id="flatpickrcontainer">
                        <input type="text" name="Inicio" placeholder="Select Date.." data-input>
                    </div>
                    <div id="flatpickrcontainer2">
                        <input type="text" name="Fin" placeholder="Select Date.." data-input>
                    </div>
                    <br />
                    <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required autofocus>
                    <br />
                    <br />
                    <input type="text" class="form-control" name="Descripcion" placeholder="Descripcion" required autofocus>
                    <br />
                    <br />
                    <br />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script>


    // js initialization

    flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday default is sunday

    document.getElementById("flatpickrcontainer").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        wrap: true,
        weekNumbers: true,
        enableTime: true, // enables timepicker default is false
        time_24hr: true, // set to false for AM PM default is false
        onChange: function (selectedDates, dateStr, instance) {
            console.log("changed");
        }
    });
    document.getElementById("flatpickrcontainer2").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        wrap: true,
        weekNumbers: true,
        enableTime: true, // enables timepicker default is false
        time_24hr: true, // set to false for AM PM default is false
        onChange: function (selectedDates, dateStr, instance) {
            console.log("changed");
        }
    });
</script>