@using BlogDeInvestigacion.ViewModels
@using BlogDeInvestigacion.Models
@model LaboratorioViewModel
@{
    ViewBag.Title = "Laboratorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="@Url.Content("/Scripts/App/Laboratorio/Laboratorio.js")"></script>

}

@section menus {

    @{
        Html.RenderPartial("_SideBarSection", new SeccionMenu
        {
            Titulo = "ADMINISTRAR LABORATORIO",
            Opciones = new List<OpcionMenu>
            {
                new OpcionMenu { Nombre = "Crear Evento", Tipo = TipoOpcion.OpenModal, Link = "#mdlCrearEvento", ClaseIcono = "fa fa-tasks fa-fw mr-3" },
                new OpcionMenu { Nombre = "Crear Noticia", Tipo = TipoOpcion.OpenModal, Link = "#mdlCrearNoticia", ClaseIcono = "fa fa-tasks fa-fw mr-3" },
                new OpcionMenu { Nombre = "Crear Encuesta", Tipo = TipoOpcion.OpenModal, Link = "#mdlCrearEncuesta", ClaseIcono = "fa fa-tasks fa-fw mr-3" },
            }
        });
    }

}

<!-- include css and js -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<link href="@Url.Content("/Content/App/Laboratorio/Laboratorio.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/App/Laboratorio/Comentarios.css")" rel="stylesheet" type="text/css" />


<div class="container">
    <div class="row">

        @*COLUMNA BODY*@
        <div class="col-9">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1> @Model.Laboratorio.Nombre </h1>
                    <p class="lead"> @Model.Laboratorio.Descripcion </p>
                </div>
            </div>


            @*SECCION COMENTARIOS*@

            <div class="containerComentarios">

                @*CREAR CONVERSACION*@

                @using (Html.BeginForm("GuardarComentario", "Conversacion", FormMethod.Post))
                {

                    @Html.Hidden("IdConversacion", 0);
                    @Html.Hidden("IdLaboratorio", Model.Laboratorio.IdLaboratorio);
                    @Html.TextArea("Texto", null, new { @class = "form-control" });

                    <input type="submit" class="btn btn-info" value="POSTEAR COMENTARIO" />
                }

                @*SECCION CONVERSACIONES*@

                @{
                    Html.RenderPartial("~/Views/Shared/_SeccionComentarios.cshtml", Model.Conversaciones);
                }
            </div>

        </div>

        @*COLUMNA SIDEBAR*@

    <div class="col-3">
        <div class="right-sidebar position-relative" style="max-width:20rem;">
            <div class="container">
                <div class="row">
                    <div class="col text-center">

                        @if (!Model.IsSubscripted)
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("Subscribirse", "Subscribirse", new { idLaboratorio = Model.Laboratorio.IdLaboratorio }, new { @class = "btn btn-outline-success" })
                            }
                            else
                            {
                                @Html.ActionLink("Login to Subscribe", "Login", "Account", null, new { @class = "btn btn-outline-success" })
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Cancelar Subscripcion", "CancelarSubscripcion", new { idLaboratorio = Model.Laboratorio.IdLaboratorio }, new { @class = "btn btn-success" })
                        }

                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">NOTICIAS</div>
            @foreach (Noticia noticia in Model.Noticias)
            {
                <div class="card-body table-primary">
                    @Html.ActionLink(noticia.Titulo, "Details", "Noticia", new { id = noticia.IdNoticia }, new { @class = "linkNS" })
                </div>
            }
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">EVENTOS</div>
            @foreach (Evento evento in Model.Eventos)
            {
                <div class="card-body table-primary">
                    @Html.ActionLink(evento.Nombre, "Details", "Evento", new { id = evento.IdEvento }, new { @class = "linkNS" })
                </div>
            }
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">ENCUESTAS SIN COMPLETAR</div>
            @foreach (Encuesta encuesta in Model.Encuestas)
            {
                <div class="card-body table-primary">
                    @Html.ActionLink(encuesta.Titulo, "Encuesta", "Encuesta", new { id = encuesta.IdEncuesta }, new { @class = "linkNS" })
                </div>
            }
        </div>
    </div>
    </div>
</div>



@*MODALS SECTION*@


@* Crear Evento *@

<div class="modal fade" id="mdlCrearEvento" tabindex="-1" role="dialog" aria-labelledby="Crear Evento" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CREAR EVENTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Laboratorio/CrearEvento" method="post">
                <div class="modal-body">

                    <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required autofocus>
                    <br />
                    <input type="text" class="form-control" name="Descripcion" placeholder="Descripcion" required autofocus>
                    <br />
                    <div id="flatpickrcontainer">
                        <input type="text" name="Inicio" placeholder="Fecha inicio" data-input class="form-control">
                    </div>
                    <br />
                    <div id="flatpickrcontainer2">
                        <input type="text" name="Fin" placeholder="Fecha fin" data-input class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Crear Noticia *@
<div class="modal fade" id="mdlCrearNoticia" tabindex="-1" role="dialog" aria-labelledby="Crear Noticia" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CREAR NOTICIA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Laboratorio/CrearNoticia" method="post">
                <div class="modal-body">
                    <br />
                    <input type="text" class="form-control" name="Titulo" placeholder="Titulo" required autofocus>
                    <br />
                    <input type="text" class="form-control" name="Descripcion" placeholder="Descripcion" required autofocus>

                    @Html.Hidden("IdLaboratorio", Model.Laboratorio.IdLaboratorio);


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Crear Encuesta *@

<div class="modal fade" id="mdlCrearEncuesta" tabindex="-1" role="dialog" aria-labelledby="Crear Encuesta" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CREAR ENCUESTA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Laboratorio/CrearEncuesta" method="post">
                <div class="modal-body">
                    <input type="hidden" name="IdLaboratorio" value="@Model.Laboratorio.IdLaboratorio" />
                    <input type="text" class="form-control" name="Titulo" placeholder="Titulo" required autofocus>
                    <br />
                    <hr class="my-4">
                    <div id="divPreguntas">
                        <input type="text" class="form-control mb-2" name="Pregunta[0]" placeholder="Pregunta 1" required>
                    </div>
                    <input class="btn btn-info" type="button" value="Agregar Pregunta" onclick="AgregarPregunta()">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>


    // js initialization

    flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday default is sunday

    document.getElementById("flatpickrcontainer").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        wrap: true,
        weekNumbers: true,
        enableTime: true, // enables timepicker default is false
        time_24hr: true, // set to false for AM PM default is false
        onChange: function (selectedDates, dateStr, instance) {
            console.log("changed");
        }
    });
    document.getElementById("flatpickrcontainer2").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        wrap: true,
        weekNumbers: true,
        enableTime: true, // enables timepicker default is false
        time_24hr: true, // set to false for AM PM default is false
        onChange: function (selectedDates, dateStr, instance) {
            console.log("changed");
        }
    });

    var cantPreguntas = 1;
    function AgregarPregunta() {
        $("#divPreguntas").append('<input type="text" class="form-control mb-2" name="Pregunta[' + cantPreguntas + ']" placeholder="Pregunta ' + (cantPreguntas+1) + '" required>');
        cantPreguntas++;
    }

</script>
