@model BlogDeInvestigacion.Models.Noticia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Noticia</h4>
    <hr />

    <div class="jumbotron">

        <dl class="dl-horizontal">
            <dt class="text-primary">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <hr class="my-4">

            <dt class="text-primary">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd class="pb-2">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="text-primary">
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>

            <dt class="text-primary">
                @Html.DisplayNameFor(model => model.Laboratorio.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Laboratorio.Nombre)
            </dd>
        </dl>

    </div>

</div>
<p>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
</p>