@using BlogDeInvestigacion.Models
@model Encuesta
@{
    ViewBag.Title = "Encuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        @*COLUMNA BODY*@
        <div class="col-9">
            <div class="jumbotron">
                <div>
                    <h1> @Model.Titulo </h1>
                </div>

                <hr class="my-4">

                <form action="/Encuesta/GuardarEncuesta" method="post">
                    <div>
                        @Html.Hidden("IdEncuesta", Model.IdEncuesta);
                        @foreach (var pregunta in Model.Preguntas.Select((value, index) => new { value, index }))
                        {
                            <input type="hidden" name="IdPregunta[@pregunta.index]" value="@pregunta.value.IdPregunta">

                            <div class="d-flex justify-content-center text-primary">
                                <label class="">@pregunta.value.Descripcion</label>
                            </div>
                            <div class="d-flex justify-content-center mt-1 mb-2">
                                <span class="font-weight-bold text-warning mr-2 mt-1">1</span>
                                <input type="range" name="Respuesta[@pregunta.index]" class="custom-range border-0 mt-1" min="1" max="5" />
                                <span class="font-weight-bold text-success ml-2 mt-1">5</span>
                            </div>
                        }
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        @Html.ActionLink("SALIR", "Index", "Encuesta", null, new { @class = "btn btn-danger" })

                        @if (User.Identity.IsAuthenticated)
                        {
                            <input type="submit" class="btn btn-success" value="ENVIAR" />
                        }
                        else
                        {
                            @Html.ActionLink("LOGUEARSE", "Login", "Account", null, new { @class = "btn btn-outline-success" })
                        }


                    </div>
                </form>
            </div>
        </div>

        @*COLUMNA SIDEBAR*@

        <div class="col-3">

        </div>
    </div>
</div>

